{% extends "jqmobile/base_jqmobile.html" %}


<!-- Main Page -->
{% block main_page %}

<div data-role="page" data-theme="c">

	<div data-role="header" data-theme="a" data-position="fixed">
		<h1>		<a href="/jqmobile/" data-role="button" data-icon="home" data-theme="c">Home</a></h1>
		<a href="" data-role="button" data-icon="back" data-rel="back">Back</a>
	
			<a href="" data-role="button" data-icon="arrow-r" data-theme="b" data-rel="back">Patients</a>
	</div><!-- /header -->

	<div data-role="content">	
		<h2>{{ patient_name }}</h2>	
		<ul data-role="listview" data-inset="true" data-theme="d" data-divider-theme="d">
				
					{% for station in stations %}
						<li><a href="event/{{station.3}}/">
							<div class="ui-grid-a">
								<div class="ui-block-a"><strong>{{ station.0 }} ({{ station.1 }})</strong></div>
								<div class="ui-li-aside"> {{ station.2 }} </div>
							</div></a><!-- /grid-a -->				
						</li>
					{% endfor %}
			
		</ul>
	</div><!-- /content -->
	
	
	<div data-role="footer" data-theme="a" data-position="fixed">
		<h4>Footer content</h4>
	</div><!-- /footer -->
	
	
	
	
	
</div><!-- /page -->
{% endblock %}